
# version format
version: 3.1.8.{build}

# environment
environment:
  majorversion: 3
  minorversion: 1
  patchversion: 8

image: Visual Studio 2017


# Do not build on tags
skip_tags: true

assembly_info:
  patch: true
  file: '**\AssemblyInfo.*'
  assembly_version: '{version}'
  assembly_file_version: '{version}'

before_build:
  - ps: nuget restore src/UIOMatic.sln

build_script:
  - msbuild build/package.proj 
  
artifacts:
  - path: artifacts\*.nupkg
  
deploy:
  provider: NuGet
  server:
  api_key:
    secure: 4jHyrS2m4z87rUk/DfcaiPIx6GexMZMAK4VY12ZWyP0X2REahhSExcuUEpaqO8ya
  artifact: /.*\.nupkg/
