<?xml version="1.0" encoding="utf-8" ?>
<UIOMatic defaultObjectServiceType="UIOMatic.Services.PetaPocoObjectService, UIOMatic">
  <setting key="defaultListViewPageSize">10</setting>
  <setting key="rteFieldEditorButtons"><![CDATA[["preview", "|", "undo", "redo", "|", "copy", "cut", "paste", "|", "bold", "italic", "|", "link", "unlink"]]]></setting>
</UIOMatic>
