<div class="tab-content form-horizontal" ng-controller="uiomaticContentController">
    <div ng-if="content">
        <ng-form name="tabbedContentForm">
            <div class="umb-group-panel" data-app-anchor="{{group.id}}" data-element="group-{{group.id}}" ng-repeat="group in content.tabs track by group.label">

                <div class="umb-group-panel__header">
                    <div id="group-{{group.id}}">{{ group.label }}</div>
                </div>

                <div class="umb-group-panel__content">
                    <div class="umb-property" ng-repeat="property in properties | removeProperty:type.nameFieldKey | filter:{tab: group.label}">
                        <umb-control-group label="{{property.name}}" description="{{property.description}}" ng-if="!queryString[property.columnName]">
                            <div ng-include="property.view"></div>
                        </umb-control-group>
                    </div>
                </div>

            </div>
        </ng-form>
    </div>

    <div class="umb-group-panel" ng-if="!content">
        <div class="umb-group-panel__content">
            <div class="umb-property" ng-repeat="property in properties | removeProperty:type.nameFieldKey">
                <umb-control-group label="{{property.name}}" description="{{property.description}}" ng-if="!queryString[property.columnName]">
                    <div ng-include="property.view"></div>
                </umb-control-group>
            </div>
        </div>
    </div>
</div>