<form name="objectForm"
      ng-controller="uioMatic.ObjectEditController"
      ng-show="loaded"
      ng-submit="save(object)"
      val-form-manager
      class="uiomatic">
    <umb-panel>
        <umb-header tabs="content.tabs">

            <div class="span7">
                <div ng-if="type.nameFieldIndex > -1">
                    <umb-content-name placeholder="@placeholders_entername" ng-model="properties[type.nameFieldIndex].value" />
                </div>
                <div ng-if="type.nameFieldIndex == -1">
                    <h1 ng-if="!editing">Create {{itemDisplayName}}</h1>
                    <h1 ng-if="editing"><span ng-show="!readOnly">Update</span> {{itemDisplayName}}</h1>
                </div>
            </div>

            <div class="span5">
                <div class="btn-toolbar pull-right umb-btn-toolbar">
                    <umb-options-menu ng-show="currentNode"
                                      current-node="currentNode"
                                      current-section="{{currentSection}}">
                    </umb-options-menu>
                </div>
            </div> 
        </umb-header>

        <div class="umb-panel-body umb-scrollable row-fluid">
            <div class="tab-content form-horizontal">

                <umb-tab ng-repeat="tab in content.tabs | filter:tab != null" id="tab{{tab.id}}" rel="{{tab.label}}">
                    <div class="umb-pane">
                        <div ng-repeat="property in properties | removeProperty:type.nameFieldKey | filter:{tab: tab.label}">
                            <umb-control-group label="{{property.name}}" description="{{property.description}}" ng-if="!queryString[property.columnName]">
                                <div ng-include="property.view"></div>
                            </umb-control-group>
                        </div>
                    </div>
                </umb-tab>

                <div class="umb-pane" ng-if="content.tabs == null">
                    <div ng-repeat="property in properties | removeProperty:type.nameFieldKey | filter:{tab: tab.label}">
                        <umb-control-group label="{{property.name}}" description="{{property.description}}" ng-if="!queryString[property.columnName]">
                            <div ng-include="property.view"></div>
                        </umb-control-group>
                    </div>
                </div>

                <div class="umb-tab-buttons" detect-fold>

                    <div class="btn-group" ng-show="fromList">
                        <a class="btn" ng-click="navigate(returnUrl)">
                            <localize key="buttons_returnToList">Return to list</localize>
                        </a>
                    </div>

                    <div class="btn-group" ng-hide="readOnly">
                        <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-show="editing">
                            <localize key="buttons_save">Save</localize>
                        </button>
                        <button type="submit" data-hotkey="ctrl+s" class="btn btn-success" ng-hide="editing">
                            Create
                        </button>
                    </div>
                </div>
            </div>
        </div>

    </umb-panel>
</form>




