<div ng-controller="UIOMatic.PropertyEditors.Dialogs.Searcher" class="uiomatic">


    <div class="umb-panel-header">

        <div class="umb-el-wrap umb-panel-buttons">
            <div class="span5">
                <form class="form-search ng-pristine ng-valid" novalidate="">
                    <div class="inner-addon left-addon">
                        <i class="icon icon-search"></i>
                        <input type="text" class="form-control ng-pristine ng-valid" localize="placeholder" placeholder="Type to search..." ng-model="searchFilter" prevent-enter-submit="" no-dirty-check="" ng-change="search(searchFilter)">
                    </div>
                </form>
            </div>

            

        </div>

      
    </div>

    <div class="umb-panel-body with-footer">
        
        <ul class="uiomatic__object-searcher__list">
            <li ng-repeat="item in items">
                <input type="checkbox" name="selectedItems[]" value="{{item.id}}" ng-checked="isSelected(item)" ng-click="toggleSelection(item)"/>
                {{item.text}}
            </li>
        </ul>

        <div class="pagination-right block" ng-if="totalPages > 1">
            <uiomatic-pagination page-number="currentPage"
                total-pages="totalPages"
                on-next="nextPage"
                on-prev="prevPage"
                on-go-to-page="setPage">
            </uiomatic-pagination>
        </div>

    </div>


    <div class="umb-panel-footer">
        <div class="umb-el-wrap umb-panel-buttons">
            <div class="btn-toolbar umb-btn-toolbar pull-right">
                <a href="" ng-click="close()" class="btn btn-link">
                    Cancel
                </a>

                <button class="btn btn-primary" ng-click="returnSelection()">
                    Select
                </button>
            </div>
        </div>
    </div>

</div>



   


